body {
  background-color: #1f1f2e;
  color: #f0f0f5;
}

nav, footer {
  height: 6vh;
}

.layout-content {
  height: 88vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-link:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.card {
  background-color: #2c2c3a;
  border: none;
  color: #fff;
}

.kanban {
  height: 20rem;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 0.65rem !important;
    /* Ajusta o tamanho da fonte para telas pequenas */
  }

}